body {
	max-width: 90vw;
	margin-inline:auto;
}
h1 {
	display: none;
}
header {
	width: 90%;
	margin-inline: auto;
}
img {
	display: block;
	width: 80%;
	height: auto;
	margin-inline: auto;
}
ul {
	list-style-type: none;
}
li::before {
	content: "-";
	padding-right: .5em;
	color: black;
}
footer {
	min-height: 100px;
	background: pink;
	opacity: 0.6;
}